# Privacy and Consent

`{{defaultRevision}}`

{{companyShortName}} is committed to protecting the privacy of our customers.

## Policy Statements

{{companyShortName}} policy requires that:

(a) Privacy policy shall be made available to inform Customers how {{companyShortName}}
collects, uses, secures and shares customer information. 

(b) Valid consent must be obtained for data collected from a Customer and the
purposes data is used for must be provided.  Customer must be provided an option
to opt-in or opt-out.

{{#needStandardGDPR}}
(c) PII Data must be processed legally, fairly and transparently (Lawfulness, fairness and transparency)

(d) PII Data must be collected for a specified, explicit, and legitimate purpose and
not further processed in a manner inconsistent with those purposes (Purpose limitation)

(e) PII Data must only be processed when it is adequate, relevant, and limited to what is necessary 
in relation to the purposes for which they were collected (Data minimization)

(f) PII Data must be correct and updated where necessary (Exactness)
{{/needStandardGDPR}}