### Remote Access / VPN

* VPN remote access to non-production and non-privileged environments in AWS are
  permissible and implemented using **{{vpnProvider}}**.

* VPN remote access to master and production accounts are prohibited.

* VPN remote access to {{companyShortName}} office network(s) is configured via
  **{{vpnProvider}}**, and should be used whenever connecting from public networks.
