### Data Classification Model

{{companyShortName}} defines the following four classifications of data:

* **Critical**
* **Confidential**
* **Internal**
* **Public**

#### Definitions and Examples

**Critical** data includes data that must be protected due to regulatory requirements, privacy,
and/or security sensitivities.

Unauthorized disclosure of critical data may result in major disruption to
business operations, significant cost, irreparable reputation damage, and/or
legal prosecution to the company.

External disclosure of critical data is strictly prohibited without an approved
process and agreement in place.

*Example Critical Data Types* includes

* Any Personally Identifiable Information (PII), for example, personnel records, customer records (where individuals) etc.
{{#needStandardHIPAA}}
* Any Protected Health Information (PHI) or Electronic Protected Health Information (ePHI)
{{/needStandardHIPAA}}
{{#needStandardPCI}}
* PCI or CHD (cardholder data)
{{/needStandardPCI}}
* Production Security data, such as
    - Production secrets, passwords, access keys, certificates, etc.
    - Production security audit logs, events, and incident data

**Confidential** and proprietary data represents company secrets and is of
significant value to the company.

Unauthorized disclosure may result in disruption to business operations and loss
in value.

Disclosure requires the signing of NDA and management approval.

*Example Confidential Data Types* includes
* Business plans
* Employee/HR data
* News and public announcements (pre-announcement)
* Patents (pre-filing)
* Specialized source codes
* Non-production Security data, including
    - Non-prod secrets, passwords, access keys, certificates, etc.
    - Non-prod security audit logs, events, reports, and incident data
    - Audit/compliance reports, security architecture docs, etc.

The basic rule is that all draft work and final documents with important business information, mainly for specific people like customers, are automatically treated as confidential.

Since our organization mainly works online, it's hard to label each piece of information as confidential. This includes entering data on websites, filling out forms, and keeping records that are not easy to categorize.

Therefore, everything stored in our online systems, and those provided by other technology and business services, will be considered Confidential unless clearly marked otherwise.

There's no need to mark each piece of information as Confidential individually.

Everything we do on these digital systems is Confidential by default, unless shared publicly, like on a website or with a large group of people, or when explicitly labelled/classified differently.

**Internal** data contains information used for internal operations.

Unauthorized disclosure may cause undesirable outcome to business operations.

Disclosure requires management approval.  NDA is usually required but may be
waived on a case-by-case basis.

*Example Internal Data Types* includes

* Internal documentation
* Policies and procedures
* Product roadmaps
* Most source codes

**Public** data is Information intended for public consumption. Although
non-confidential, the integrity and availability of public data should be
protected.

*Example Internal Data Types* includes

* News and public announcements (post-announcement)
* Marketing materials
* Product documentation
* Contents posted on company website(s) and social media channel(s)
